body{padding-top:50px; background-color:beige; color: white;
  font-family:"Times New Roman","Christmas Squad - Personal Use", serif;
  font-size: medium; text-align: center;}
h1{text-align: center; color:pink; font-family:"Times New Roman","Christmas Squad - Personal Use";
  font-size: 40px;}
#container { margin: 0 auto; }
