#container { margin: 0 auto; }
body{background-color:beige; color: white;
  font-family:"Times New Roman", serif;
  font-size: medium; text-aligen: center;}
h1{text-aligen: center; color:pink; font-family:"Times New Roman", serif;
  font-size: 40px;}
h2{text-aligen: center;  margin-left:60px;}
