#content{border:0;
width:70%;
height:70vh; display: inline-block;}
#menu{ padding: 4px; display: inline-block; position : absolute; top: 200px; }
#menu a { 
text-decoration: none; 
color: #887671;
}
#menu div:hover { color: white;
 background-color: #90603a
}
.menuitem { border: 4px dotted #c4c4c4 }
