body{padding-top:64px; background-color: #FFFBF3; color: #887671;
  margin-left:30px; margin-right:30px; font-family:"Times New Roman", serif;
  font-size:large;}
h1{text-aligen:center; color: #887671; margin-left:50px; font-family:"Times New Roman", serif;
  font-size:large;}
h2{text-aligen:center;}
