#content{border:20px; border-style : solid white; border-image:url("./테두리.png") 20 round;
width:70%;
height:70vh; display: inline-block;}
#menu{padding: 10px; display: inline-block; position : absolute; top: 240px; }
#menu a { 
text-decoration: none; 
color: #887671;
}
#menu div:hover { color: white;
 background-color: #90603a
}
.menuitem {margin-left:20px; border: 4px dotted #c4c4c4 }
body{padding-top:100px; background-color: #FFFBF3; color: #887671;
  margin-left:30px; margin-right:30px; font-family:"Consolas";
  font-size:large;}
