#content{border:3px dotted #c4c4c4;
width:70%;
height:70vh; display: inline-block;}
#menu{margin-left:20px; padding: 10px; display: inline-block; position : absolute; top: 250px; }
#menu a { 
text-decoration: none; 
color: #887671;
}
#menu div:hover { color: white;
 background-color: #90603a
}
.menuitem { border: 4px dotted #c4c4c4 }
