@font-face{font-family:"cdf"; src:url("./cdf.ttf");}
body{color:#887671;  font-family:"cdf"; font-size:20px;}
pre{color:#887671;  font-family:"cdf"; font-size:18px;}
h2{color:#887671;  font-family:"cdf"; font-size:18px;}
